.Dashboard-main{
    margin-top: 50px;
}

.total-count-item{
    display: flex;
}
.Dashboard-main-item{
    display: flex;
    justify-content: space-around;
    margin: 15px 0px;
   

}
.total-count-item {
    padding-top: 20px;
    position: relative;
    margin-right: 30px; 
    width: 25%;
}
.total-count-item-container{
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14),0 3px 1px -2px hsla(0,0%,60%,.2),0 1px 5px 0 hsla(0,0%,60%,.12);
    border-radius: 5px;
    padding: 10px;
}

.total-count-icon{
    color: #fff;
    font-size: 20px;
    width: 65px;
    height: 65px;
    background: linear-gradient(60deg,#66bb6a,#43a047);
    border-radius: 5px;
    position: absolute;
    top:0px;
    left: 20px;
   
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(76,175,80,.4);
    line-height:65px;
    text-align: center;
}
.count-line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
}
.total-count-title{
    margin-left: 100px !important;
    font-size: 20px;
    font-weight: 300;
    color: rgb(0, 0, 0,0.7);
}
.total-count-count{
    text-align: center;
    font-size: 28px;
}
.count-item{
    margin: 15px 20px;
}
.count-status{
    display: flex;
    justify-content: center;
}
.orange {
    background: linear-gradient(60deg,#ffa726,#fb8c00);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(255,152,0,.4);
}
.pink {
    background: linear-gradient(60deg,#ec407a,#d81b60);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(233,30,99,.4);
}
.lightblue {
    background: linear-gradient(60deg,#26c6da,#00acc1);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0,188,212,.4);
}




@media only screen and (max-width: 900px) {
    .total-count-item{
        flex: 0 0 35%;
        margin: 5px 0px;
    }
    .Dashboard-main-item{
        flex-wrap: wrap;
    }

}
@media only screen and (max-width: 500px){
    .total-count-item{
        flex: 0 0 70%;
        margin: 5px 0px;
    }
}