.DashboardMenu{
    width: 260px;
    height: 100vh;
    background-color: blue;
    background-image: url(https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);
    background-size: cover;
    background-position: -80px;
    position: fixed;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
    z-index: 10000;
    text-transform: uppercase;
    transition: width .5s;
    color: white;
}
.db-menu-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.75);
    z-index: -10;
}
.db-menu-logo{
    display: flex;
    justify-content: space-around;
}
.content{
    z-index: 1000;
    position: absolute;
    width: calc(100% - 260px);
    left: 260px;
    min-height: 100vh;
    background-color: #f0f1f3;
    transition: width .5s;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%; 
    margin: 0px;
    padding: 0px;

}

.DashboardMenu ul{
    position: absolute;
   
    left: 0px;
    list-style: none;
    width: 230px;
    padding:  0 15px;
    color: #fff;
}
.db-menu-item {
    position: relative;
    display: flex;
    font-size: 12px;
    justify-content: flex-start;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
    transition: .5s;
    line-height: 30px;
}
.DashboardMenu ul li:hover, .DashboardMenu ul li:hover a{
    background-color: #fff !important; 
    color: #000 !important;
}

.iconLogo{
    position: relative ;
   
    min-width: 40px;
    display: block;
 
    text-align: center;
}
.title{
    position: relative;
    display: block;
    height: 30px;
  
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
}
.DashboardMenu ul a{
    text-decoration: none;
    color: #fff;
    width: 200px;
   
}

.content.active{
    width: calc(100% - 90px);
    left: 90px;

   
}
.DashboardMenu ul a:active{
    background-color: #fff !important; 
    color: #000 !important;
}
.db_menu_active {
    background-color: #fff;
    color: #000;
}
.DashboardMenu ul.active{
    width: 60px;
    
}
.title.active{
    display: none;
}
.DashboardMenu.active{
    width: 90px;
}
.menu-line {
    height: 0.5px;
    width: 100%;
    border-bottom: .7px #777 solid;
    margin: 15px 0;
}
.db-menu-avt {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    justify-content: space-around;
}
.db-menu-avt img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-left: 3px;
}
.db-menu-user-opt {
    width: 100%;
    font-size: 14px;
    transition: height .5s;
    height: 0px;
    overflow: hidden;
} 
.closeOpt {
    height: 125px;
}
.db-menu-user-opt .db-menu-item{
    justify-content: space-evenly;
    padding: 0 10px;
}



/* ///////////////////////////////////navbar////////////////////////////// */
.navbar{
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding:8px;
    background-color : #fff;
}
.navbar-right,.navbar-left{
    display: flex;
}
.navbar-item{
    padding: 8px 16px;
    font-size: 20px;
    cursor:pointer;
}
.navbar-form{
    display: flex;
    flex-direction: row;
}
.navbar-form input{
    height: 30px;
    border-radius: 5px;
    padding: 0 5px;
}
.menu-logo-close{
    display: none;
}
.content-wrapper{
    padding: 0 20px;
}
.headerbox{
    color: #fff;
    font-size: 20px;
    width: 65px;
    height: 65px;
    background: linear-gradient(60deg,#66bb6a,#43a047);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 20px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(76,175,80,.4);
    line-height: 65px;
    text-align: center;
}




@media only screen and (max-width: 900px) {
    
.content{
    width: calc(100% - 90px);
    left: 90px;
}

.db_menu_active {
    background-color: #fff;
    color: #000;
}
.DashboardMenu ul{
    width: 60px;
    
}
.title{
    display: none;
}
.DashboardMenu{
    width: 90px;
}
.content.active{
    width: calc(100% - 260px);
    left: 260px;
}
.DashboardMenu ul.active{
    width: 230px;
    
}
.DashboardMenu.active{
    width: 260px;
}
.title.active{
    display: block;
}

}


@media only screen and (max-width: 500px) {
    .content{
        width: 100%;
        left: 0px;
    }
    .DashboardMenu{
        left: -1000px;
    }
    .DashboardMenu.active{
        left: 0px;
        width: 100%;
    }
    .navbar-item{
        padding: 8px 6px
    }
    .db-menu-user{
        width: 300px;
    }
    .db-menu-logo{
        width: 380px;
    }
    .menu-logo-close{
        display: block;
    }


}