.top-five{
    flex: 0 0 45%;
    margin-top:  30px;
    background: #fff;
    box-shadow: 0 2px 2px 0 hsl(0deg 0% 60% / 14%), 0 3px 1px -2px hsl(0deg 0% 60% / 20%), 0 1px 5px 0 hsl(0deg 0% 60% / 12%);
    border-radius: 5px;
    padding: 10px;
    position: relative;
}
.headerbox{
    color: #fff;
    font-size: 20px;
    width: 65px;
    height: 65px;
    background: linear-gradient(60deg,#66bb6a,#43a047);
    border-radius: 5px;
    position: absolute;
    top: -20px;
    left: 20px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(76,175,80,.4);
}
.top-five-title{
    text-align: center;
    font-size: 26px;
    color: rgb(0, 0, 0, 0.7);
}
.top-five-header{
    justify-content: space-between;
    font-size:  18px;
    padding: 0 20px;
    align-items: center;
    margin:15px 0px;
}
.top-user-avt{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
}

@media only screen and (max-width: 900px) {
    .top-five{
        flex: 0 0 90%;
    }

}